
.container {
    background-color:#FFD95A;
}

.avatar {
    padding:20px;
    vertical-align: middle;
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-left:45%;
    margin-right:50%;
    
}
.fs1 {
    background-color:#FFF7D4;
    padding:3%;
    width:auto;
    color: black;
    border-radius: 30px;
    margin:20px;
}
.fs2 {
    background-color:#FFF7D4;
    border-radius: 30px;
    margin: 20px;
}
    
span {
    color: #0058a0;
}
